<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>{% block title %}My Site{% endblock %}
        {% block css %}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      </head>
    <body>
    Hello, world!
    </body>
